<ion-content class="abstract-bg">
  <ion-grid>
    <ion-row class="ion-align-items-start" padding>
      <ion-col size="4" offset="4">
        <ion-img src="assets/images/Prulia-logo-small.png"></ion-img>
      </ion-col>
      <ion-col size="6" offset="3">
        <ion-text color="primary" padding>PRULIA Membership App</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form  #form="ngForm" (ngSubmit)="submit(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center padding>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="ion-padding">
            <ion-item>
              <ion-label position="floating">Prudential ID</ion-label>
              <ion-input name="usr" type="text" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">NRIC Number</ion-label>
              <ion-input name="nric" type="text" ngModel required></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button type="submit" [disabled]="form.invalid" expand="block">Submit</ion-button>
          </div>
          <div>
            <ion-button color="secondary" class="ion-float-start" [routerLink]="['/login']" fill="clear">Sign In</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
