<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Training</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header [hidden]="list.length > 0">No Training Content Setup</ion-list-header>
    <ion-card *ngFor="let item of list" [routerLink]="item.name">
      <img [src]="item.training_image"/>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">{{ item.title }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
