<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Training</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header [hidden]="list.length > 0">No Training Found</ion-list-header>
    <ion-card *ngFor="let item of list" [routerLink]="item.name">
      <ion-chip [hidden]="!item.register" class="event-status yellow">
        <ion-label color="dark">{{ item.attendance === 'Yes' ? 'Attended' : 'Registered' }}</ion-label>
      </ion-chip>
      <ion-chip [hidden]="!(!item.register && item.training_status== 'Open For Registration') && !(item.training_status == 'Publish' && item.show_open_for_registration == 1)" class="event-status green">
        <ion-label color="dark">Ready for Registration</ion-label>
      </ion-chip>
      <ion-chip [hidden]="!(!item.register && item.training_status == 'Registration Closed')" class="event-status red">
        <ion-label color="dark">Registration Closed</ion-label>
      </ion-chip>
      <img class="img-center" [src]="item.training_image"/>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">
          <p class="text-bold ion-no-margin">{{ item.training_name }}<p>
          <p class="ion-no-margin">
            {{ item.start_date_time | date: 'MMM d, y, h:mm a' }} - {{ item.start_date_time.getDate() == item.end_date_time.getDate() ? (item.end_date_time | date: 'h:mm a' ) : (item.end_date_time | date: 'MMM d, y, h:mm a') }}
          </p>
          <p class="ion-no-margin">
            {{ item.venue }}
          </p>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
