<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header [hidden]="list.length > 0">No News Found</ion-list-header>
    <ion-card *ngFor="let item of list" (click)="eventTapped(item)">
      <img class="img-center" [src]="item?.news_image"/>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">{{ item.title }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
