<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header [hidden]="list.length > 0">No Event Content Setup</ion-list-header>
    <ion-card *ngFor="let item of list" [routerLink]="item.name">
      <img [src]="item.event_image"/>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">
          {{ item.event_name }}<br>
          {{ item.start_date_time | date: 'MMM d, y, h:mm a' }} - {{ item.start_date_time.getDate() == item.end_date_time.getDate() ? (item.end_date_time | date: 'h:mm a' ) : (item.end_date_time | date: 'MMM d, y, h:mm a') }}<br>
          {{ item.venue }}
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
