<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Update Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="update(form)">
    <ion-grid class="ion-padding">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Current Password</ion-label>
          <ion-input required name="old_password" type="password" ngModel></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">New Password</ion-label>
          <ion-input required name="new_password" type="password" ngModel></ion-input>
        </ion-item>
      </ion-list>
      <ion-col size="12" class="ion-padding">
        <ion-button type="submit" class="ion-float-end" color="primary">Update</ion-button>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>
